
    .menu,

.menu li,
.menu a {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
}
 

 
.menu {

    background-color: #0063ab;
     display: block; /* Make the links appear below each other */
    padding: 12px; /* Add some padding */
    text-decoration: none; /* Remove underline from links */
    width: 200px;
    /*width: 100%;
    margin: 0 auto;
    height: 4.25em;
    text-align: right;
   display: block;*/
}



 
.menu li {
    position: relative;
    list-style: none;
    float: left;
    display: block;
    height: 40px;
    color:antiquewhite;
}




.menu .label-input100 {
    font-family: Poppins-Regular;
    font-size: 15px;
    color:#F2FBEF;
    line-height: 1.2;
    text-align: right;
    position: absolute;
    top: 14px;
    left: -105px;
    width: 80px;
}

a {
	font-family: Poppins-Regular;
	font-size: 14px;
	line-height: 1.7;
	color: #F2FBEF;
    font-family:sans-serif;

	margin: 0px;
	transition: all 0.4s;
	-webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
}

a:focus {
	outline: none !important;
}

a:hover {
	text-decoration: none;
  color:#0063ab;
}
